*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 1000vh;
  color: black;
}
.phone{
  max-height: 800px;
  max-width: 400px;
  position: fixed;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  top: 60px;
  z-index:2;
}
.phone1{
  transform: rotate(135deg) translate3d(-230px, 30px , 20px);
  position: fixed;
}
.back{
  opacity: 0;
  top: 60px;
  border-radius: 15%;
  height: 800px;
  max-width: 360px;
  position: fixed;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);  
  z-index: 1;
}
.show{
  animation: show 2s ease;
  animation-fill-mode: forwards;
}

@keyframes show {
  0%{opacity: 0;}
  100%{opacity: 1;}
}